<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
</head>
<style>
     
            pre {
      font-size: 25px;
    }
            </style>
<body>


      <h3 style="text-align: center;"><%  include template/header.ejs %>
        </h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
	  <pre >Trandio always works on spreading the Knowledge of science.        

      Technology is open for all .Those who use it has the rights to know it is what we work for.
      
      We make technology understandable as easy as understanding our mothertongue. 
      
      We value every single minute of yours. Hence we are very keen on  making things simple and eligent.
      
      Trandio serves informations upto date.
      
      Trandio takes it as its responsiblility</pre>



</body>
</html>