<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
</head>
<body>


      <h3 style="text-align: center;"><%  include template/header.ejs %>
	  </h3>
	

      <img src="<%= document.data.illustration.url %>" />

</body>
</html>